/* 

selector {
  property: value;
}

Selectors are used to select the HTML elements you want to style.

h1 {
  color: red;
}

.class-name {
  font-family: Poppins;
}

#id1 {
  font-size: 2em; // Each page can have only one #id1 ( IDs are unique )
}

div.class-name {
  property: value; // All divs with .class-name
}

div.class-name1.class-name2.class-name3 {
  property: value;
}

// it means div has class-name1 and class-name2 and id1
div.class-name1.class-name2#id1 {
  property: value; // Important point is that only one html element and id can be used as a selector
}

// it means before comma selectors will be applied or as well as anything that have after comma selector
div.class-name1.class-name2#id1, .green {
  property: value; // Important point is that only one html element and id can be used as a selector
}

For Example
<style>
.header-text, .footer-text { color: purple; }
<header class="header-text">Header has purple Text</header>
<footer class="footer-text">Footer has Purple Text</footer>


// everything after div. it works like P is child element of Div
div p {
  property: value;
}




*/
